# Package manager
node_modules
package-lock.json
yarn.lock

# Editor
.vscode
.idea
.env
/.DS_Store

# Hardhat files
cache
artifacts
typechain
deployments/localhost
deployments/hardhat
deployments/tenderly
exports/
.pendingTransactions
Flattened.sol

#Coverage
coverage
coverage.json

# openzeppelin dev files
.openzeppelin

# Logs
logs
*.log
npm-debug.log*

# Testing
SLITHER.md
