node_modules
.vscode
.idea
.env
/.DS_Store

# Hardhat files
artifacts
cache
deployments
gasReporterOutput.json
Flattened.sol
SLITHER.md

#Coverage
coverage*
coverage.json

# openzeppelin dev files
.openzeppelin

# Logs
logs
*.log
npm-debug.log*
